body{
	background: lightyellow;

	max-width: 80%;
	margin: auto;

}

main{
/* 	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-basis: 40rem; */
}

p.topPtag{
	background: yellow;
	text-align: center;
	margin: 0;
}
a.topAtag{
	/* margin-left: auto; */
	text-align: right;
}
header h2{
	text-align: center;
}

.podstawowe{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 80rem;

	max-width: 40rem;
}

.nazwa{
	margin-top: 1rem;
	padding: 8px;
	border: black 1px solid;
}

.hdl{
	margin-top: 1rem;
	padding: 8px;
	border: black 1px solid;
}

hr{
	max-width: 40%;
	background: orange;
	color: orange;
	height: 4px;
}
