body{
	background-image: url("../sources/mleczko/tlo.jpg");
}

h1{
	margin: 1rem;
	text-align: center;
}

table{
	margin: auto;
	padding: 0.5rem;

	border: solid black 1px;

	text-align: center;
}

tbody tr td{
	padding: 4px;
	background-color: lightgoldenrodyellow;
	border: black solid 1px;
}
